<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.PayMapper">

    <!--新增支付交易记录-->
    <insert id="insertPayRecord">
        INSERT INTO pay_record(created_time, update_time, member_id, money, pay_type, pay_status, order_num) VALUES (
          now(),now(),#{userId},#{totalAmount},0,0,#{orderNum}
        )
    </insert>

    <!--修改订单的状态-->
    <update id="updateOrderStatus" parameterType="com.example.demo.dao.PayMapper">
        UPDATE orders SET order_status=#{orderStatus},update_time=now(),pay_time=now(),pay_type=#{payType} where order_num=#{orderNum}
    </update>

    <!--修改支付流水信息-->
    <update id="updatePayRecordStatus" parameterType="com.example.demo.dao.PayMapper">
        UPDATE pay_record SET pay_serial_number=#{paySerialNumber},pay_status=#{payStatus},update_time=now() where id=#{id}
    </update>

    <!--查询该订单的支付记录-->
    <select id="getOrderPayRecord" resultType="com.example.demo.dao.PayMapper">
        SELECT
            id,
            pay_status AS payStatus,
            pay_serial_number AS paySerialNumber
        FROM
            pay_record
        WHERE
            order_num =#{outTradeNo}
        ORDER BY id desc limit 1
    </select>
</mapper>